{% extends "courses/home.html" %}
{% load static %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block head %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'student:student_course_list' %}">Dashboard</a>
      </li>
{% endblock %}
{% block content %}
<div class="container" style="background-image:url({% static 'lightGrey.jpg' %});height:200px;width:100%;">
	<div class="row align-items-center">
		<div class="col align-self-center">
			<br/>
			<br/>
			<br/>
			<center><h1>Module: {{module.title}}</h1></center>
		</div>
	</div>
</div>
<div class="container">
	<div class="row shadow justify-content-start align-items-start">
		<div class="col-sm-4 contents">
		<h3>Modules</h3>
		<ul id="modules">
		{% for m in object.modules.all %}
		<li data-id="{{ m.id }}" {% if m == module %}
		class="selected"{% endif %}>
		<a href="{% url 'student:student_course_detail_module' object.id m.id %}">
		<span>
		Module <span class="order">{{ m.order|add:1}}</span>
		</span>
		<br>
		{{ m.title }}
		</a>
		</li>
		{% empty %}
<li>No modules yet.</li>
{% endfor %}
</ul>
</div>
<div class="col-sm-8 module">
{% for content in module.contents.all %}
{% with item=content.item %}
<h2><u>{{ item.title }}</u></h2>
<br/>
<p style="height:100%;width:150%;">{{ item.render }}</p>
{% endwith %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}