{% extends "courses/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Log-In{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
            	{% if form.errors %}
				<h2 style="color:red;">Please try again.</h2>
				{% else %}
				<h2></h2>
				{% endif %}
			</div>
		</div>
  </div>
    <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
              <form action="{%url 'student:student_registration' %}" method="post">
          {% csrf_token %}
          {{ form.full_name|as_crispy_field }}
      </div>
    </div>
		<div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
            	<form action="{%url 'student:student_registration' %}" method="post">
    			{% csrf_token %}
    			{{ form.username|as_crispy_field }}
			</div>
		</div>
           <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
            	
    			 {{ form.password1|as_crispy_field }}
			</div>
		</div>  
		<div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
            	
    			 {{ form.password2|as_crispy_field }}
			</div>
		</div>    
		<div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
            	
    			  <button type="submit" class="btn btn-primary">Sign-Up</button>
			</div>
		</div>  
    
   
 		 </form>
 </div>


{% endblock %}
