{% extends "courses/home.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% if object %}
Edit course "{{ object.title }}"
{% else %}
Create a new course
{% endif %}
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container" style="background-image:url({% static 'lightGrey.jpg' %});height:200px;width:100%;">
	<div class="row align-items-center">
		<div class="col align-self-center">
			<br/>
			<br/>
			<br/>
			<center><h1>{% if object %}
			Edit course : "{{ object.title }}"
			{% else %}
			Create a new course
{% endif %}</h1></center>
		</div>
	</div>
</div>
<div class="module">
<center><h2>Course info</h2></center>
<div class="container">
	<div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
            	<form action="#" method="post">
    			{% csrf_token %}
    			{{ form.subject|as_crispy_field }}
			</div>
		</div>
           <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
            	
    			 {{ form.title|as_crispy_field }}
			</div>
		</div>   
		 <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
            	
    			 {{ form.slug|as_crispy_field }}
			</div>
		</div>  
		 <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
            	
    			 {{ form.overview|as_crispy_field }}
			</div>
		</div>
		
		<div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
            	{% if object %}
    			  <button type="submit" class="btn btn-primary">Update Course</button>
    			  {% else %}
			<button type="submit" class="btn btn-primary">Create Course</button>
			{% endif %}
			</div>
		</div>  
    
   
 		 </form>
 		</div>
</div>
{% endblock %}
